dash==2.16.1
dash-bootstrap-components==1.6.0
dash-mantine-components==0.14.1
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
plotly==5.21.0
pmdarima==2.0.4
scikit-learn==1.4.2
statsmodels==0.14.2
yfinance==0.2.38
gunicorn
